<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>나의 Todo List</title>

    <!--google icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=note_alt" />
    
    <!-- 외부 CSS 파일 -->
    <link rel="stylesheet" href="{% static 'todoList/css/style.css' %}">
</head>
<body>
    <h1 class="mainCenter"><span class="material-symbols-outlined icon_size">note_alt</span>나의 Todo List</h1>
    <p><a href = "{% url 'todo_Main' %}">Todo List 메인페이지로 이동</a></p>
    {{todos}}
    <ul>
        {% for todo in todos %}
            <li>
                <strong>{{ todo.name }}</strong><br>
                설명: {{ todo.description }}<br>
                완료 여부: {% if todo.complete %}<span>✔️완료</span>{% else %} ❌ 미완료{% endif %}<br>
                가산점: {{ todo.exp }}점<br>
                완료 시간: {{ todo.completed_at|default:"-" }}<br>
                생성 시간: {{ todo.created_at }}<br>
                수정 시간: {{ todo.updated_at }}<br>
                <hr>
            </li>
        {% empty %}
            <li>할 일이 없습니다!</li>
        {% endfor %}
    </ul>

</body>
</html>
