{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<head>
    <meta charset="UTF-8">
    <title>ADD 나의 Todo List</title>

    <!--google icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=note_alt" />
    
    <!-- 외부 CSS 파일 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!--AXIOS-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <!--ckeditor-->
    <script src="https://cdn.ckeditor.com/4.22.1/full/ckeditor.js"></script>
    
    <!--javascript-->
    <script>
        // getCookie 함수 정의
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // axios 인스턴스 생성
        const axiosInstance = axios.create({
            baseURL: window.location.origin,
            headers: {
                "Content-Type": "application/json",
                'X-CSRFToken': getCookie('csrftoken'), // CSRF 토큰 필요!
            },
            withCredentials: true // 인증이 필요한 경우에 쿠키 포함
        });


    </script>

</head>

